<section id="feedbacks" class="feedbacks">
    <div class="container">
        <div class="section-title">
            <h2 class="feedbacks-title">What Our Customers Say</h2>
            <p class="feedbacks-description">We're proud to grow a community that values health, sustainability, and
                real flavor. Read what our happy customers have
                to say about their experience with our organic products.</p>
        </div>

        <ul class="feedbacks-list">
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">Their eco-friendly packaging is a big plus for me. Highly recommend!</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_1@1x.png" 
                        srcset="/img/feedbacks/avatar-img_1@2x.png"
                        alt="Tony Lee" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">Tony Lee</p>
                </div>
            </li>
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">"I absolutely love the variety of organic produce available here.
                        Everything is fresh and bursting with flavor!"</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_2@1x.png" 
                        srcset="/img/feedbacks/avatar-img_2@2x.png"
                        alt="Emily Johnson" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">Emily Johnson</p>
                </div>
            </li>
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">"The staff is incredibly knowledgeable and always willing to help me find
                        what I need. Great service!"</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_3@1x.png" 
                        srcset="/img/feedbacks/avatar-img_3@2x.png"
                        alt="Michael Smith" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">Michael Smith</p>
                </div>
            </li>
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">"I've noticed a significant improvement in my health since switching to
                        their organic products. Highly recommend!"</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_4@1x.png" 
                        srcset="/img/feedbacks/avatar-img_4@2x.png"
                        alt="Sarah Davis" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">Sarah Davis</p>
                </div>
            </li>
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">"The range of organic snacks is fantastic! Perfect for my kids, who love
                        them and I feel good about giving them healthy
                        options."</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_5@1x.png" 
                        srcset="/img/feedbacks/avatar-img_5@2x.png"
                        alt="David Brown" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">David Brown</p>
                </div>
            </li>
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">"I appreciate that they source local ingredients. It makes me feel
                        connected to the community!"</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_6@1x.png" 
                        srcset="/img/feedbacks/avatar-img_6@2x.png"
                        alt="Jessica Wilson" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">Jessica Wilson</p>
                </div>
            </li>
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">"The prices are fair for the quality of food. I never feel guilty about
                        spending a little more here."</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_7@1x.png" 
                        srcset="/img/feedbacks/avatar-img_7@2x.png"
                        alt="Andrew Lee" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">Andrew Lee</p>
                </div>
            </li>
            <li class="feedbacks-list-item">
                <div class="feedbacks-review">
                    <div class="feedbacks-grade">
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-black"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                        <svg class="icon-mobile empty" width="20" height="19">
                            <use href="/img/sprite.svg#icon-star-empty"></use>
                        </svg>
                    </div>
                    <p class="feedback-text">"Their eco-friendly packaging is a big plus for me. It's nice to support a
                        business that cares about the environment!"</p>
                </div>

                <div class="feedback-author">
                    <img 
                        class="feedback-author-img" 
                        src="/img/feedbacks/avatar-img_8@1x.png" 
                        srcset="/img/feedbacks/avatar-img_8@2x.png"
                        alt="Laura Kim" 
                        width="48"
                        height="48">
                    <p class="feedback-author-name">Laura Kim</p>
                </div>
            </li>
        </ul>
    </div>
</section>