<footer id="footer" class="footer-section">
  <div class="footer-cont container">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a
          href="./index.html"
          class="footer-logo-link"
          aria-label="Organic Shop logo"
        >
          <svg class="footer-logo-svg">
            <use href="/img/sprite.svg#icon-logo" />
          </svg>
        </a>
      </div>
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a href="./index.html" class="footer-link">Home</a>
        </li>
        <li class="footer-nav-item">
          <a href="#mission" class="footer-link">Mission</a>
        </li>
        <li class="footer-nav-item">
          <a href="#benefits" class="footer-link">Benefits</a>
        </li>
        <li class="footer-nav-item">
          <a href="#assorts" class="footer-link">Assortment</a>
        </li>
        <li class="footer-nav-item">
          <a href="#feedbacks" class="footer-link">Feedbacks</a>
        </li>
        <li class="footer-nav-item">
          <a href="#faq" class="footer-link">FAQ</a>
        </li>
        <li class="footer-nav-item">
          <a href="#contacts" class="footer-link">Contacts</a>
        </li>
      </ul>
      <ul class="footer-socials">
        <li>
          <a
            class="footer-social-link"
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="footer-social-icon">
              <use href="/img/sprite.svg#icon-Facebook" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="footer-social-icon">
              <use href="/img/sprite.svg#icon-Instagram" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="X"
          >
            <svg class="footer-social-icon">
              <use href="/img/sprite.svg#icon-X" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.linkedin.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg class="footer-social-icon">
              <use href="/img/sprite.svg#icon-LinkedIn" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg class="footer-social-icon">
              <use href="/img/sprite.svg#icon-Youtube" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-copyright">
      &copy; 2025 Organic Shop. All rights reserved.
    </p>
  </div>
</footer>
