<footer id="footer" class="shop-footer">
  <div class="footer-main container">
    <div class="footer-wrapper">
      <div class="footer-logo">
        <a href="./index.html" class="footer-logo-link">
          <svg class="footer-logo-svg" fill="#ffffff">
            <use href="/img/sprite.svg#icon-logo" />
          </svg>
        </a>
      </div>
      <div class="footer-links">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="./index.html" class="footer-link">Home</a>
            </li>
            <li class="footer-nav-item">
              <a href="#mission" class="footer-link">Mission</a>
            </li>
            <li class="footer-nav-item">
              <a href="" class="footer-link">Benefits</a>
            </li>
            <li class="footer-nav-item">
              <a href="#assortment" class="footer-link">Assortment</a>
            </li>
            <li class="footer-nav-item">
              <a href="" class="footer-link">Feedbacks</a>
            </li>
            <li class="footer-nav-item">
              <a href="" class="footer-link">FAQ</a>
            </li>
            <li class="footer-nav-item">
              <a href="" class="footer-link">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="footer-socials">
        <li>
          <a
            class="footer-social-link"
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" fill="#ffffff">
              <use href="/img/sprite.svg#icon-Facebook" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" fill="#ffffff">
              <use href="/img/sprite.svg#icon-Instagram" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" fill="#ffffff">
              <use href="/img/sprite.svg#icon-X" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.linkedin.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" fill="#ffffff">
              <use href="/img/sprite.svg#icon-LinkedIn" />
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-social-link"
            href="https://www.youtube.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon" fill="#ffffff">
              <use href="/img/sprite.svg#icon-Youtube" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-copyright">
      &copy; 2025 Organic Shop. All rights reserved.
    </p>
  </div>
</footer>
