<header class="header" id="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo" aria-label="Organic Shop logo">
      <svg width="142" height="60">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li><a href="./index.html" class="nav-link">Home</a></li>
        <li><a href="#mission" class="nav-link">Mission</a></li>
        <li><a href="#benefits" class="nav-link">Benefits</a></li>
        <li><a href="#assorts" class="nav-link">Assortment</a></li>
        <li><a href="#feedbacks" class="nav-link">Feedbacks</a></li>
        <li><a href="#faq" class="nav-link">FAQ</a></li>
        <li><a href="#contacts" class="nav-link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-right">
      <a href="#assorts" class="order-btn">Order</a>
      <button type="button" class="menu-open-btn" aria-label="menu">
        <svg class="menu-open-icon" width="32" height="32">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
