<div id="menu" class="menu">
  <div class="menu-container">
    <div class="menu-header">
      <div class="menu-logo">
        <a href="./index.html" class="menu-logo-link">
          <svg class="menu-logo-svg" fill="#ffffff">
            <use href="/img/sprite.svg#icon-logo" />
          </svg>
        </a>
      </div>
      <button class="menu-close" type="button">
        <svg width="32" height="32" fill="#ffffff">
          <use href="/img/sprite.svg#icon-close-btn" />
        </svg>
      </button>
    </div>
    <div class="menu-body">
      <nav class="menu-nav">
        <ul class="menu-nav-list">
          <li class="menu-nav-item">
            <a href="./index.html" class="menu-link">Home</a>
          </li>
          <li class="menu-nav-item">
            <a href="#mission" class="menu-link">Mission</a>
          </li>
          <li class="menu-nav-item">
            <a href="#benefits" class="menu-link">Benefits</a>
          </li>
          <li class="menu-nav-item">
            <a href="#assortment" class="menu-link">Assortment</a>
          </li>
          <li class="menu-nav-item">
            <a href="#feedbacks" class="menu-link">Feedbacks</a>
          </li>
          <li class="menu-nav-item">
            <a href="#faq" class="menu-link">FAQ</a>
          </li>
          <li class="menu-nav-item">
            <a href="#contacts" class="menu-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="menu-order" type="button">Order</button>
    </div>
  </div>
</div>
