<section id="mission" class="section mission">
  <div class="container mission-wrp">
    <h2 class="mission-title">
      Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
    </h2>

    <p class="mission-description">
      At Organic Shop, we believe in the power of nature. Our mission is to
      provide you with fresh, locally sourced organic products that nourish both
      body and soul. We partner with ethical farmers who share our commitment to
      sustainability and quality.
    </p>

    <picture>
      <source
        srcset="
          /img/mission/mission-picture_d@1x.jpg 1x,
          /img/mission/mission-picture_d@2x.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          /img/mission/mission-picture_t@1x.jpg 1x,
          /img/mission/mission-picture_t@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/mission/mission-picture_m@1x.jpg 1x,
          /img/mission/mission-picture_m@2x.jpg 2x
        "
        media="(max-width: 768px)"
      />
      <img
        class="mission-picture"
        src="/img/mission/mission-picture_d@1x.jpg"
        alt="Friends are gathering organic vegetables"
      />
    </picture>
  </div>
</section>
