.benefits {
  background-color: #1a5901;
  color: #fff;
}

.benefits-wrp {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefits-picture {
  padding: 0;
}

.benefits-text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.benefits-heading {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefits-title {
  color: #fff;
}

.benefits-title-text {
  color: #ffffff;
}

.benefits-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefits-icon {
  fill: #ffffff;
}

.benefits-items-list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.benefits-item-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.benefits-item-text {
  font-size: 16px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .benefits-items-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
    padding: 8px 0;
  }
  .benefits-item {
    width: calc(50% - 8px);
  }
}

@media screen and (min-width: 1440px) {
  .benefits-wrp {
    flex-direction: row;
    gap: 24px;
  }

  .benefits-text-block {
    width: calc(50% - 12px);
  }
  .benefits-items-list {
    column-gap: 24px;
    row-gap: 24px;
  }
  .benefits-item {
    width: calc(50% - 12px);
  }
}
